<div [formGroup]="travelForm">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="chicago"
      formControlName="from"
    />
    <label for="floatingInput">From</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
      formControlName="typeOfPlace"
    />
    <label for="floatingPassword">Type of place</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="number"
      class="form-control"
      id="floatingPassword"
      placeholder="1... 2... 3..."
      formControlName="numberOfPlaces"
    />
    <label for="floatingPassword">Number of places</label>
  </div>
  <div class="col-12">
    <div class="input-group">
      <input
        class="form-control"
        type="datetime-local"
        formControlName="date"
      />
    </div>
  </div>
</div>
<button class="btn btn-primary" (click)="handleSubmit()">Submit</button>

<div class="output-container row">
  <div class="text-output col-6" [innerHtml]="outputText">test</div>
  <div class="map-output col-6" [innerHtml]="outputMap">test</div>
</div>
