<div class="center-div">
<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    placeholder="chicago"
  />
  <label for="floatingInput">From</label>
</div>
</div>

<div class="center-div">
<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingPassword"
    placeholder="Password"
  />
  <label for="floatingPassword">Type of place</label>
</div>
</div>

<div class="center-div">
<div class="form-floating mb-3">
  <input
    type="number"
    class="form-control"
    id="floatingPassword"
    placeholder="Password"
  />
  <label for="floatingPassword">Number of places</label>
</div>
</div>

<div class="center-div">
<div class="form-floating">
  <input
    type="datetime"
    class="form-control"
    id="floatingPassword"
    placeholder="Password"
  />
  <label for="floatingPassword">Date</label>
</div>
</div>